Source: testautotools
Section: unknown
Priority: extra
Maintainer: unknown <wen@unknown>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/testautotools.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/testautotools.git;a=summary

Package: testautotools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: testautotools-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} testautotools
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
